<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57602630729-jf5u10e6pft56k4m7htn85mo1bp4g1lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57602630729-jf5u10e6pft56k4m7htn85mo1bp4g1lf</string>
	<key>API_KEY</key>
	<string>AIzaSyAzvL7WNU6Kj9i5iW8mA--lsQbR0bIm8tg</string>
	<key>GCM_SENDER_ID</key>
	<string>57602630729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dragan.tpFlutter3</string>
	<key>PROJECT_ID</key>
	<string>flutterexam-e01d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterexam-e01d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57602630729:ios:55a00eb6b00623b2ab8b98</string>
</dict>
</plist>